body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}

header {
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}

.logo img {
  width: 200px; /* Adjust the size as needed */
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

nav {
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center the tabs */
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.dropdown {
  position: relative;
  width: 140px;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover {
    background-color: #ddd;
  }

.video {
  margin: 0;
  background-color: #b31b1b;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 70dvh;
  width: 100%;
  padding: 0;
}
iframe {
  width: 65%;
  height: 100%;
}
.motto {
  margin: 0;
  background-color: lightgray;
  text-align: center;
  padding: 1px;
}
.inner-container-header{
    display: flex;
    width: 75%;
    background-color: white;
    /*text-align: right;*/
    transform: translate(25%, 0%);
    gap: 47%
}
.flex-col{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.data-template{
  margin: 0;
  background-color: #b31b1b;
  justify-content: center;
  display: flex;
  height: 70dvh;
  width: 100%;
  padding: 0;
  gap: 1%;
}
.content-structure{
  margin-top: 1%;
  margin-bottom: 1%;
  width: 45%;
  background-color: white;
  border:1px solid black;
  text-align: left;
  /*text-align: right;*/
}
.values-and-legacy{
  border:1px solid black;
  width: 90%;
  height: 40%;
  transform: translate(5%, 0%);
}
.title-background{
  background-color: gray;
  transform: translate(5%, 0%);
  text-align: center;
  width: 90%;
}
.values-and-legacy-data-flex{
  display:flex;
}
footer {
    background-color: #b31b1b; /* Change this to the color you want */
    color: #fff; /* Change this to the text color you want */
    padding: 20px; /* Adjust the padding as needed */
    text-align: center; /* Align text to center if desired */
    line-height: 0.5em;
}
