@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
body {
  /* font-family: Arial, sans-serif; */
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}

header {
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}

.logo img {
  width: 150px; /* Adjust the size as needed */
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}
.logo-blog img {
  width: 150px; /* Adjust the size as needed */
  display: block;
  padding-bottom: 10px;
}
.icon img {
  width: 30px;
  padding-bottom: 5%;
}
nav {
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center the tabs */
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.dropdown {
  position: relative;
  width: 140px;
  text-align: center;
  white-space: nowrap;
  padding-bottom: 0.5%;
}

.dropdown-content {
  display: none;
  margin-top: 5%;
  position: absolute;
  background-color: white;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dropdown:hover .dropdown-content {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

.dropdown:hover {
  background-color: #ddd;
}

.video {
  margin: 0;
  background-image: url('images/rough_background.jpeg');
  background-size: cover; /* Adjusts the size of the background image */
  background-repeat: repeat; /* Specifies how the background image should repeat */
  /*background-color: #b31b1b;*/
  justify-content: center;
  display: flex;
  align-items: center;
  height: 60dvh;
  width: 100%;
}
iframe {
  width: 65%;
  height: 100%;
  padding: 10px;
  border: none;
}
.motto {
  margin: 0;
  background-color: lightgray;
  text-align: center;
  padding: 1px;
}
.inner-container-header {
  display: flex;
  width: 75%;
  background-color: white;
  /*text-align: right;*/
  transform: translate(25%, 0%);
  gap: 47%;
}
.flex-col {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.data-template {
  margin: 0;
  background-image: url('images/rough_background.jpeg');
  background-size: cover; /* Adjusts the size of the background image */
  background-repeat: repeat; /* Specifies how the background image should repeat */
  /*padding: 20px; /* Add padding to prevent content from touching the edges */
  /*background-color: #b31b1b;*/
  justify-content: center;
  display: flex;
  /*height: 70dvh;*/
  width: 100%;
  padding: 0;
  gap: 1%;
}
.data-template-blog {
  margin: 0;
  /*background-color: #b31b1b;*/
  background-image: url('images/rough_background.jpeg');
  background-size: cover; /* Adjusts the size of the background image */
  background-repeat: repeat; /* Specifies how the background image should repeat */
  /*padding: 20px; /* Add padding to prevent content from touching the edges */
  justify-content: center;
  flex-direction: column;
  display: flex;
  /*height: 70dvh;*/
  width: 100%;
  padding: 0;
  gap: 1%;
  justify-content: center;
  align-items: center;
}
.first-row-button-blog {
  display: flex;
  background-color: white;
  width: 92.75%;
  margin-top: 1%;
  margin-bottom: 1%;
  border: 1px solid silver;
  border-radius: 5px;
  gap: 10%;
  align-items: center;
  justify-content: center;
}
.content-structure-blog {
  display: flex;
  gap: 1%;
  /*align-items: center;*/
  justify-content: center;
  border-radius: 5px;
  /*text-align: right;*/
}
.card-blog {
  display: flex;
  flex-direction: column;
  border: 1px solid silver;
  padding: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.card-blog-translated {
  display: flex;
  flex-direction: column;
  border: 1px solid silver;
  padding: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.card-blog:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.content-structure {
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
  width: 45%;
  background-color: white;
  border: 1px solid silver;
  text-align: left;
  border-radius: 5px;
  /*text-align: right;*/
}
.values-and-legacy {
  border: 1px solid silver;
  border-radius: 5px;
  width: 90%;
  padding: 1%;
  transform: translate(5%, 0%);
}
.title-background {
  background-color: lightgray;
  border-radius: 5px;
  transform: translate(5%, 0%);
  text-align: center;
  width: 90%;
}
.title-background p {
  padding: 1%;
}
.values-and-legacy-data-flex {
  display: flex;
  gap: 10%;
}
.values-and-legacy-data-flex-col {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}
.member-template {
  display: flex;
}
.member-data-template-flex {
  display: flex;
  gap: 1%;
}
.member-data {
  display: flex;
  flex-direction: column;
}
.location-contact-structure {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.images-maps {
  display: flex;
  gap: 5.5%;
}
.strat-alliance-structure {
  display: flex;
  flex-direction: column;
}
.alliance-content {
  border: 1px solid silver;
  border-radius: 5px;
  width: 96%;
  transform: translate(1%, 0%);
  margin-bottom: 1%;
  padding: 1%;
}
.alliance-content-img {
  margin-bottom: 1%;
  padding: 1%;
}
h2 {
  margin-top: 0px;
  padding-top: 0px;
}
h4 {
  padding: 0;
  margin: 0;
}

.image-data {
  display: flex;
}
.alliance-text {
  display: flex;
  flex-direction: column;
}
.third-party-professionals {
  border: 1px solid silver;
  border-radius: 5px;
  width: 96%;
  transform: translate(2%, 0%);
  margin-top: 1%;
  margin-bottom: 1%;
}
.third-party-data-structure {
  display: flex;
}
.third-party-text-data {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
}
.video-learning-library-text {
  display: flex;
  flex-direction: column;
}
.video-column-structure {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 5px;
  width: 96%;
  margin-top: 1%;
  margin-bottom: 1%;
  transform: translate(2%, 0%);
  padding: 1%;
}
.image-text-video-learning {
  display: flex;
  gap: 2%;
}
.dropdown-area {
  border: 1px groove;
  padding: 5px;
  margin-bottom: 1%;
}
.dropdown-title {
  cursor: pointer;
  position: relative;
  font-weight: normal;
}
.dropdown-title::after {
  content: "+";
  position: absolute;
  top: 0;
  right: 0;
}
.dropdown-title.helper::after {
  content: "-";
  position: absolute;
}
.dropdown-expertise {
  display: none;
}
.newsletters {
  width: 250px; /* Adjust the size as needed */
  border: 1px solid silver;
}

footer {
  background-color: #b31b1b; /* Change this to the color you want */
  color: #fff; /* Change this to the text color you want */
  padding: 20px; /* Adjust the padding as needed */
  text-align: center; /* Align text to center if desired */
  line-height: 0.5em;
  font-size: 10px;
}
.team_pic_strategic img {
  width: 100%; /* Adjust the size as needed */
  display: flex;
}
.team_pic {
  width: 100%; /* Adjust the size as needed */
  display: flex;
}
li {
  padding: 10px;
}
